html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*
    Banner
*/

.banner-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.banner-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-image {
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    filter: brightness(70%);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

    .banner-text h1 {
        font-size: 3em;
        margin: 0;
    }

    .banner-text p {
        font-size: 1.5em;
        margin: 10px 0;
    }

    .banner-text .btn {
        font-size: 1.2em;
        padding: 10px 20px;
    }


/*
    banner product
    */
.page-header {
    /*background: url('file:///D:/USB_MSI/VS/Backend/Backend-TrenLop/dairy-website-template/img/banner.jpg') background:*/
    background: url('~/assets/Img/Banner_TH-MILK-Canh-dong-huong-duong.jpg') no-repeat center center;
    background-size: cover;
}




/*Thumbnail*/
.urlImg {
    max-width: 100%; /* Đặt chiều rộng tối đa là 100% của ô */
    height: auto; /* Tự động điều chỉnh chiều cao để giữ tỷ lệ khung hình */
    display: block; /* Hiển thị hình ảnh dưới dạng khối */
    margin: 0 auto; /* Canh giữa hình ảnh trong ô */
}

/* CSS cho ô td */
/* CSS for table cells */
td {
    padding: 10px; /* Add padding to the cells */
    text-align: center; /* Center-align the content */
}

/* CSS for image cells */
.imageCell {
    width: 150px; /* Set a fixed width for image cells */
    height: 100px; /* Set a fixed height for image cells */
    background-size: cover; /* Scale the background image to cover the entire cell */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center; /* Center the background image within the cell */
}

    /* CSS cho ô td */
    .imageCell::before {
        content: url('@item.thumbnail'); /* Sử dụng hình ảnh như một phần tử nội dung */
        display: block; /* Hiển thị hình ảnh dưới dạng khối */
        width: 100%; /* Đảm bảo hình ảnh phù hợp với kích thước của ô */
        height: auto; /* Tự động điều chỉnh chiều cao để giữ tỷ lệ khung hình */
    }
