<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @* This is the partial view for the banner *@
    <div class="banner-container">
        <div class="banner-content">
            <img src="~/assets/Img/Banner_TH-MILK-Canh-dong-huong-duong.jpg" alt="Banner Image" class="banner-image">
            <div class="banner-text">
                <h1>Welcome to Our Website</h1>
                <p>Discover our products and offers!</p>
                <a href="#" class="btn btn-primary">Shop Now</a>
            </div>
        </div>
    </div>
</body>
</html>