@model List<Model.Entities.Users>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (@Model != null)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Category</h5>
            <a href="/Administrator/Users/Create" method="post" class="btn btn-danger">Add new</a>
            <!-- Table with stripped rows -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">role</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr scope="row">
                            <th>@item.Id</th>
                            <td>@item.UserName</td>

                            <th>@item.password</th>
                            <th>@item.role</th>
                            <td>
                                <a class="link-primary" href="/Administrator/User/Update/@item.Id">Edit</a>
                                <a class="link-primary" href="/Administrator/User/Delete/@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- End Table with stripped rows -->

        </div>
    </div>
}
else
{
    <h5>No item</h5>
}