@model Model.Entities.CartDetail
@{
    ViewData["Title"] = "Add New Cart Detail";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h1>Add New Cart Detail</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="UserId">User ID:</label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProdId">Product ID:</label>
        <input asp-for="ProdId" class="form-control" />
        <span asp-validation-for="ProdId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity">Quantity:</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Total">Total:</label>
        <input asp-for="Total" class="form-control" />
        <span asp-validation-for="Total" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateBuy">Date Bought:</label>
        <input asp-for="DateBuy" class="form-control" />
        <span asp-validation-for="DateBuy" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Cart Detail</button>
</form>
